@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "..";

@theme {
    --font-sans: "Space Grotesk", sans-serif;
}

/* Background Slideshow Logic */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.25;
    transition: opacity 2s ease-in-out;
    pointer-events: none;
}

#bg div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-size: cover;
    background-position: center;
    transition:
        opacity 3s ease,
        visibility 3s;
}

#bg div.visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    animation: bg 45s linear infinite;
}

#bg div.visible.top {
    z-index: 2;
}

/* Responsive Animation Speeds */
@media (max-width: 1280px) {
    #bg div.visible {
        animation-duration: 29.25s;
    }
}
@media (max-width: 736px) {
    #bg div.visible {
        animation-duration: 18s;
    }
}

/* Initial Load State */
body.is-preload #bg {
    opacity: 0;
}

/* Keyframes for the background slide */
@keyframes bg {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}
